.art_img{
    float:left;
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    max-width: 70%;
    max-height: 70%;
}
.clear{
    clear:both;
}
.comment {
    color:navy;
    font-size: 12px;
    list-style-type: none;
    background-color: #fbfbfb;
    position: relative;
    left:20px;
    top:-20px;
    width:50%;
    padding-top: 10px;
    padding-left: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.comment_text {
    font-size: 11px;
    padding:10px 10px 20px 10px;
}
.comment_area {
    width: 75%;
    background-color: #fbfbfb;
}
.sharp {
    width: 0px; height: 0px; background: #fff;
    border-top: 10px solid #fbfbfb;
    border-right: 10px solid #fbfbfb;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}
.button,.button-comment {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.button-comment {
    font-size: 10px;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 6px #999;
}
.button a {
    text-decoration: none;
    color: #fff;
}
.button a:hover, .button-comment:hover {
    font-style:italic;
    font-weight: bolder;
}
.button:active, .button-comment:active {
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}
table {
    width: 100%;
    font-size: 1.3em;

}
.confirm_th, .confirm_td, .confirm_td_ch {
    padding: 15px;
}
.confirm_th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
}
.confirm_td {
    font-style: italic;
    text-align: left;
}
.confirm_td_ch {
    text-align: center;
}
.number {
    text-align: center;
}
.warn{
    color: #ff6e16;
}
.gor{
    color: #260cff;
    text-align: center;
}
#comment_error {
       color: #f00;
}
#comment_message {

    color: #2cad45;
}
#comment_error,#comment_message {
    display:none;
}

.eye {
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.eye:hover {
    color: #2cad45;
}
.eye:active {
    color: #ff1a04;
}
#password_login {
  border-right: none;
}
.has-error .eye {
    background-color: #fff;
}