.art_img{
    float:left;
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    max-width: 70%;
    max-height: 70%;
}
.clear{
    clear:both;
}
.comment {
    color:navy;
    font-size: 12px;

}
.comment_text {
    font-size: 9px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.button a {
    text-decoration: none;
    color: #fff;
}
.button a:hover {
    font-style:italic;
    font-weight: bolder;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}
table {
    width: 100%;
    font-size: 1.3em;

}
.confirm_th, .confirm_td, .confirm_td_ch {
    padding: 15px;
}
.confirm_th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
}
.confirm_td {
    font-style: italic;
    text-align: left;
}
.confirm_td_ch {
    text-align: center;
}
.number {
    text-align: center;
}
.warn{
    color: #ff6e16;
}
.gor{
    color: #260cff;
    text-align: center;
}
#comment_message, #comment_error {
    border:1px solid #e6e6e6;
    background:#f6f6f6;
    display:none;
    text-align:center;
    padding:15px 12px 15px 65px;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
}

#comment_error {
    color: #f00;
}

